version: '3' 
services: 
  db: 
    image: postgres:12.2 
    volumes: 
      - ./tmp/db:/var/lib/postgresql/data 
    ports: 
      - 5436:5432    
    environment:
      POSTGRES_DB: "db"
      POSTGRES_HOST_AUTH_METHOD: "trust"  
  web: 
    build: . 
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'" 
    volumes: 
      - .:/myapp 
    ports: 
      - "3001:3000" 
    env_file: 
      - web.env
    depends_on: 
      - db


     