<p>
    <strong>Commenter:</strong>
    <%= comment.user.firstname %> 
    <%= comment.user.lastname %>
</p>
<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>

<% if current_user.id == comment.user_id %>
    <p><%= link_to 'Destroy Comment', [comment.post.user, comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<p>
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
</p>
