<span>Welcome, <%= current_user.firstname %></span><br>

<table  border="1" style="border-collapse: collapse;">
  <tr>
    <th>firstname</th><th>lastname</th><th>show</th>
  </tr>
  <% current_user.following.each do |followed| %>
    <tr>      
      <td><%= followed.firstname %></td>
      <td><%= followed.lastname %></td>    
      <td><%= link_to 'Show', user_path(followed) %></td>
    </tr>
  <% end %>
</table>